.contact-cta
  +clearfix
  background-color: $theme-color
  text-align: center

  .inner
    display: inline-block
    margin-left: auto
    margin-right: auto
    padding: $base-spacing

    .header
      text-align: center
      padding: $small-spacing 0
      color: #ffffff

    form
      +span(full)

      .wpcf7-form-control-wrap
        float: left

      input
        display: block

        +breakpoint($medium-screen)
          width: auto
          margin-right: $small-spacing
          margin-bottom: 0

      button
        +breakpoint(max-width $medium-screen)
          display: block
          width: 100%

      button
        @extend %cta-button

      span.wpcf7-not-valid-tip
        text-align: left
        margin-top: $small-spacing/2

      .wpcf7-response-output
        float: left
        width: 100%
        display: block
        color: white
        text-align: center
