$footer-border: 1px solid #88898A
$footer-color: darken(#FFFFFF, 25%)

footer.site-footer
  background-color: #2D2D2D
  padding: $base-spacing 0

  ul
    padding-left: 0

  .inner
    @extend %container

  img
    margin-bottom: $base-spacing
    display: block

  .menu-sidfot-container
    +clearfix

    +breakpoint($medium-screen)
      +span(16 of 24)

  li
    list-style: none

  a
    color: $footer-color
    display: block

    &:hover,
    &:focus
      color: white

  #footer > li
    +breakpoint(max-width $medium-screen)
      margin-bottom: $small-spacing

    > a
      border-bottom: $footer-border

  .menu-item-has-children
    +span(full)

    +breakpoint($medium-screen)
      +gallery(8 of 16)

  .company-information
    +span(full)
    color: $footer-color

    +breakpoint($medium-screen)
      +span(last 8 of 24)

    .header
      border-bottom: $footer-border
