$menu-duration: $base-duration*1.5

.site-header
  background-color: rgba($theme-color, 0.9)
  position: fixed
  width: 100%
  z-index: $z-index-menu
  left: 0
  transition: left $menu-duration $base-timing

  .inner
    @extend %container

  .site-branding
    float: left
    padding: $small-spacing 0

    img
      display: block

  .header-cta
    display: none

    +breakpoint($large-screen)
      display: block
      color: #FFFFFF
      float: left
      margin-left: 1.5em
      padding-top: $small-spacing * 0.7

    .button
      @extend %cta-button
      background-color: $pink
      border-radius: 30px
      padding: 8px 17px
      margin-right: 1.1em

  .right
    float: right
    padding: $small-spacing 0

  #openMenu
    padding: 0
    outline: 0

    @extend %no-button-styling

    .hamburger
      display: inline-block
      margin-left: 0.5em
      width: 20px
      height: 12px
      background: url('images/icons/icon-menu.svg')
      background-size: 20px 12px
