.site-header
  background-color: rgba($theme-color, 0.9)
  padding: $small-spacing 0
  position: fixed
  width: 100%
  z-index: $z-index-menu

  .inner
    @extend %container

  .site-branding
    float: left

    img
      display: block

  .right
    float: right

  #openMenu
    padding: 0

    @extend %no-button-styling

    .hamburger
      display: inline-block
      margin-left: 0.5em
      width: 20px
      height: 12px
      background: url('images/icons/icon-menu.svg')
      background-size: 20px 12px
