.jumbotron
  background-repeat: no-repeat
  background-size: cover
  padding-top: 48px

  .inner
    +container

    .content
      +span(full)
      padding: $base-spacing 0

      +breakpoint($medium-screen)
        +span(16)

      +breakpoint($large-screen)
        +span(10)

      p
        font-size: $large-font-size

      button
        @extend %cta

      .form-group input
        margin-top: $small-spacing
        box-shadow: $base-box-shadow
