.testomonials
  background-color: $theme-color

  .inner
    @extend %container
    color: #ffffff
    padding-top: $base-spacing
    padding-bottom: $base-spacing
    text-align: center

    h2
      margin-bottom: $small-spacing

    .clients
      +clearfix
      text-align: center

      .client
        display: inline-block
        max-width: 48%
        margin-right: 3%

        &:last-child
          margin-right: 0

        +breakpoint($medium-screen)
          max-width: span(8)
          margin-right: 2.32558%

          &:last-child
            margin-right: 0

        +breakpoint($large-screen)
          display: inline-block
          max-width: span(4)
          margin-right: 2.32558%