.testomonials
  background-color: $theme-color

  .inner
    +container
    color: #ffffff
    padding: $base-spacing
    text-align: center

    .clients
      +span(full)

      .client
        +span(4)

        &:last-child
          +span(4 last)
