fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  font-weight: 600;
  margin-bottom: $small-spacing / 2;
  padding: 0;
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: $small-spacing / 2;
}

input,
select,
textarea {
  display: block;
  font-family: $base-font-family;
  font-size: $base-font-size;
}

#{$all-text-inputs},
select[multiple] {
  background-color: $light-gray;
  border-radius: 0;
  box-shadow: $base-box-shadow;
  border: none;
  box-sizing: border-box;
  margin-bottom: 0.625em;
  padding: 0.7em;
  transition: border-color box-shadow $base-duration $base-timing;
  width: 100%;
  
  &:hover {
    border-color: shade($base-border-color, 20%);
  }

  &:focus {
    border-color: $action-color;
    box-shadow: $form-box-shadow-focus;
    outline: none;
  }

  &:disabled {
    background-color: shade($light-gray, 5%);
    cursor: not-allowed;

    &:hover {
      border: $base-border;
    }
  }
}

textarea {
  resize: vertical;
}

[type="search"] {
  appearance: none;
}

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: $small-spacing / 2;
}

[type="file"] {
  margin-bottom: $small-spacing;
  width: 100%;
}

select {
  margin-bottom: $small-spacing;
  max-width: 100%;
  width: auto;
}

.wpcf7-form {
  p {
    margin-bottom: 0;
  }

  input[type="submit"] {
    @extend button.block-button;
    @extend button%cta-button;
    width: 100%;
  }

  span {
    &:hover {
      border-color: shade($base-border-color, 20%);
    }

    &:focus {
      border-color: $action-color;
      box-shadow: $form-box-shadow-focus;
      outline: none;
    }
  }

  img {
    display: none;
  }

  .wpcf7-response-output,
  span.wpcf7-not-valid-tip {
    border: none;
    box-shadow: none;
    margin: $small-spacing 0 0 0;
    padding: 0;
  }
}
