.front-page-jumbotron
  @extend .jumbotron
  padding-bottom: 0

  .inner .content
    color: $base-font-color
    text-align: left

    +breakpoint($medium-screen)
      +span(16)

    +breakpoint($large-screen)
      +span(10)

    p
      max-width: 100% !important

    button
      @extend %cta-button

    .form-group input
      margin-top: $small-spacing
      box-shadow: $base-box-shadow

.reporting
  @extend %container
  padding: $base-spacing 0

  .reporting-header
    +box-header
    margin-bottom: $small-spacing

  .reporting-content-container
    +clearfix
    position: relative

    .reporting-image
      +span(full)

      +breakpoint($medium-screen)
        +span(12)

      +breakpoint($large-screen)
        +span(16)

    .reporting-text
      +span(full)

      +breakpoint($medium-screen)
        +centerer(false, true)
        right: 0
        width: span(12 last)

      +breakpoint($large-screen)
        +centerer(false, true)
        right: 0
        width: span(8 last)

.contact
  +clearfix
  background-position: right
  background-size: cover
  background-repeat: no-repeat
  padding: $base-spacing

  +breakpoint($medium-screen)
    padding: $base-spacing*3 0

  .inner
    @extend %container

  .contact-header
    +box-header

  .contact-card
    +span(full)
    background-color: white
    padding: $base-spacing

    +breakpoint($medium-screen)
      +span(16)

    .contact-information,
    .contact-form
      +span(full)

      +breakpoint($medium-screen)
        +span(12)

        &:last-child
          +span(12 last)

      textarea
        min-height: 113px

      button
        @extend %cta-button
