#loader
  margin: $base-spacing 0

.seo-result
  @extend %container
  padding-top: $base-spacing
  padding-bottom: $base-spacing

  header
    h2
      float: left

    .status
      float: right

      img
        display: inline

      span
        display: inline

  .seo-info
    +clearfix

    .content
    +clearfix

    .left
      clear: right
      +span(12)

    .right
      +span(12 last)

    .left,
    .right
      &:nth-child(1n+3)
        margin-top: $base-spacing

    .title
      +clearfix

      h2
        float: left

      .status
        float: right
        font-weight: $bold-font-weight

        img
          margin-right: $small-spacing/2
          vertical-align: middle

    .errors li
      position: relative
      padding-left: $base-spacing*1.25
      margin-bottom: $small-spacing
      list-style-type: none
      font-weight: $bold-font-weight

      img
        position: absolute
        left: 0
        top: -2px

    .rating
      // span one-fifth
      +span(4)

      &:nth-child(6n+6)
        +span(4 last)

    span.result
      @extend h2

    .word-density
      dt
        @extend h3
        font-weight: $bold-font-weight

      dd
        @extend h2
        margin-bottom: $small-spacing

    .top-words
      dt,
      dd
        float: left
        width: 50%
        margin-bottom: $small-spacing/2

      dt
        margin-top: $small-spacing/2

      .result-bar
        padding: $small-spacing/2
        color: white
        font-weight: $bold-font-weight
